# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

src/modules.ts
package-lock.json
pnpm-lock.yaml
yarn.lock
pnpm-workspace.yaml
